<div class="container ml-5">
    <h1 class="ml-5 text-center">Salary History</h1>

    <div class="container">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Search">
        <br>
      </div>
    
    <table class="table ml-5">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount of Leaves</th>
            <th scope="col">Penalty for leaves(Rs)</th>
            <th scope="col">OT Hours</th>
            <th scope="col">OT Pay(Rs)</th>
            <th scope="col">Month</th>
            <th scope="col">Amount(Rs)</th>
            </tr>
        </thead>
        <tbody>
            <div>
                <div class="example-loading-shade" *ngIf="loading">
                  <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
            </div>            
            <tr *ngFor="let salary of salaries | filter:searchText">
                <td>{{ salary.date | date: 'mediumDate' }}</td>
                <td>{{ salary.amountOfLeaves }}</td>
                <td>{{ salary.penaltyForLeaves }}</td>
                <td>{{ salary.otHours }}</td>
                <td>{{ salary.otPay }}</td>
                <td>{{ salary.month }}</td>
                <td>{{ salary.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>