<div style="width: max-content; margin-left: 60%;">
  <div class="content container-fluid" style="overflow-y: scroll; overflow-x: hidden; height:700px; width: 700px;">
    <br>
    <h1>Apply a Quick Leave</h1>
    <button type="button" class="btn btn-primary" [routerLink]="['../../longLeave/', this.nic]">REQUEST A LONG TERM LEAVE</button><br><br>
    <div class="card text-center" style="border-color: #6d7fcc; border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 5px #888888;">
      <div class="card-header">
        APPLY QUICK LEAVE

      </div>
      <div class="card-body">
        <form #qleave="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="time" class="col-sm-3 col-form-label pull-right">Time</label>
            <div class="col-sm-7" style="margin-left: -10%;">
              <input type="text" id="time" class="form-control" [ngModel]="dateToday | date:'HH:mm:ss'" name="time" #time="ngModel" required>
            </div>
            <br>
            <span class="help-block" *ngIf="!time.valid && time.touched" style="color: red">Please select leave
              time.</span>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label pull-right">Date</label>
            <div class="col-sm-7" style="margin-left: -10%;">
              <input type="text" id="date" class="form-control" [ngModel]="dateToday | date" ngModel name="date" #date="ngModel" required>
            </div>
            <br>
            <span class="help-block" *ngIf="!date.valid && date.touched" style="color: red">Please select date</span>
          </div>
          <div class="form-group row">
            <label for="reason" class="col-sm-3 col-form-label pull-right">Reason</label>
            <div class="col-sm-7" style="margin-left: -10%;">
              <input type="text" id="reason" class="form-control" ngModel name="reason" #reason="ngModel" required>
            </div>
            <br>
            <span class="help-block" *ngIf="!reason.valid && reason.touched" style="color: red">Please enter a reason.</span>
          </div>
          <div class="text-center pt-4">
            <button type="submit" class="btn btn-success" [disabled]="!qleave.valid">SUBMIT</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <br><br><br>

    <div class="card text-center" style="border-color: #6d7fcc; border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 5px #888888;">
      <h1>View applied leaves</h1>
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Time</th>
              <th scope="col" class="text-center">Reason</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quickLeave of getquickLeave">
              <th scope="row">1</th>
              <td>{{quickLeave.date}}</td>
              <td>{{quickLeave.time}}</td>
              <td>{{quickLeave.reason}}</td>
              <td>
                <a class="btn btn-danger pull-right" (click)="onDelete(quickLeave.id)">DELETE</a>
              </td>
            </tr>

            <tr *ngIf="isNodata" style="color:red;">
              <td colspan="5">No data!.</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>

</div>
