<!-- Header Component -->
<nav class="navbar navbar-dark" style="background-color: #09AF00; margin-bottom: 0px; height: 30px;">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="color: white; font-size: medium;">HRIS</a>


    </div>

    <div>
      <p  class="navbar-brand pull-right"
          style="color: white; font-size: medium;">UK Engineering Services (PVT) Ltd
      </p>
      <img  src='../../assets/images/logo.png'
            alt="logo of the company"
            class="img-responsive pull-right">
    </div>

  </div>
</nav>
