<!-- Header Component -->
<div style="background-color: #01579b; height: 50px; position: static; width: 100%;">
  <div class="container-fluid">

    <div class="navbar-header mx-4">
      <a href="#" class="navbar-brand" style="color: white; font-size: large;">HRIS</a>


    </div>

    <div>
      <p  class="navbar-brand pull-right"
          style="color: white; font-size: medium;">UK Engineering Services (PVT) Ltd
      </p>
      <img  src='../../assets/images/logo.png'
            alt="logo of the company"
            class="img-responsive pull-right"
            style="padding-top: 5px;">
    </div>

  </div>
</div>
