<!--Footer Component -->

<div style="position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:#09AF00;
color: white;
text-align: center;
height: 40px;
margin-bottom: 0vh;"
>
  <div class="navbar-header">
    <a href="#" class="navbar-brand" style="color: white; font-size: medium;">HRIS UK Engineering Services (PVT) Ltd</a>
  </div>
  <div>
    <p  class="navbar-brand pull-right"
        style="color: white; font-size: medium;">©All rights reserved 2020
    </p>
    <div style="padding-top: 10px;">
      <img src="../../assets/images/twit.png" alt="twitter icon" class="twitLogo pull-right">
      <img src="../../assets/images/insta.png" alt="insta icon" class="instaLogo pull-right">
      <img src="../../assets/images/fb.png" alt="fb icon" class="fbLogo pull-right">

    </div>



  </div>
</div>

<!-- kishen -->
