input.ng-invalid.ng-touched{
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
