.sidenav {
  height: 88%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: auto;
  bottom: 5.7%;
  left: 0;
  background-color: #455A64;
  overflow-y: scroll;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-weight: 600;
}

.adminLogo{

  width: 60px;
  height: 60px;
  padding: 1px;
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidenav {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

