<!-- <div class="container example">
  <div class="row">
    <div class="col col-lg-5" class="sidenav">
      <div style="margin-bottom: -10%">
        <img
          src="../../assets/images/admin.png"
          alt="admin icon"
          class="adminLogo pull-left"
        />
        <h3 class="text-center">ADMINISTRATOR</h3>
        <br />
      </div>
      <hr />
      <a
        href=""
        [routerLink]="['dashboard']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Dashboard</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['employees/view']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Employee Details Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['payroll']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Payroll Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['announcements/view']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Announcement Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['training-programs']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Training Program Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['attendance']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Attendance & Leave Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['projects']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Project Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['equipments/list']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Equipment Management</a
      >
      <hr />
      <a
        href=""
        [routerLink]="['vehicles/new']"
        style="font-size: 18px; padding-bottom: 0; padding-top: 0"
        >Vehicle Management</a
      >
      <hr />
    </div>
    <div class="col col-lg-7" style="margin-left: 20%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<div class="wrapper" >
  <!-- Sidebar -->
  <nav class="sidenav" id="sidebar" style="overflow-y: scroll;">
      <div class="sidebar-header">
        <img
        src="../../assets/images/admin.png"
        alt="admin icon"
        class="adminLogo text-center"
        style="margin-left: 60px;"
      />
      <h3 class="text-center">ADMINISTRATOR</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
            <a [routerLink]="['']">Home</a>
          </li>
          <li>
            <a [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Details Management</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a [routerLink]="['employees/view']">View All Employees</a>
                </li>
                <li>
                  <a [routerLink]="['employees/create']">Add New Employee</a>
                </li>
            </ul>
        </li>
          <li>
            <a [routerLink]="['payroll']">Payroll Management</a>
          </li>

          <li>
              <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Announcement Management</a>
              <ul class="collapse list-unstyled" id="homeSubmenu2">
                  <li>
                    <a [routerLink]="['announcements/new']">Add New Announcements</a>
                  </li>
                  <li>
                    <a [routerLink]="['announcements/view']">View Announcements</a>
                  </li>
              </ul>
          </li>

          <li>
            <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Training Program <br> Management</a>
            <ul class="collapse list-unstyled" id="homeSubmenu3">
                <li>
                  <a [routerLink]="['training-programs/new']">Add New Training Program</a>
                </li>
                <li>
                  <a [routerLink]="['training-programs/view']">View All Training Programs</a>
                </li>
            </ul>
        </li>

          <li>
              <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Attendance & Leave <br> Management</a>
              <ul class="collapse list-unstyled" id="pageSubmenu2">
                  <li>
                      <a [routerLink]="['attendance']">Add Attendance Record</a>
                  </li>
                  <li>
                      <a [routerLink]="['attendance/view']">View Attendance Details</a>
                  </li>
                  <li>
                      <a [routerLink]="['attendance/view']">View all leaves</a>
                  </li>
              </ul>
          </li>


          <li>
              <a [routerLink]="['projects']">Project Management</a>
          </li>
          <li>
              <a [routerLink]="['equipments/list']">Equipment Management</a>
          </li>
          <li>
            <a [routerLink]="['vehicles/new']">Vehicle Management</a>
        </li>
      </ul>

  </nav>
  <!-- Page Content -->

  <div class="col col-lg-7" style="margin-left: 23%;">
    <router-outlet></router-outlet>
  </div>
</div>
