<!-- <div class="container">
  <div class="row">
    <div class="col col-lg-5" class="sidenav">
        <div style="margin-bottom: -10%;">
          <img src="../../assets/images/admin.png" alt="admin icon" class="adminLogo pull-left">
          <div >
            <h3>{{ name }}</h3>
            <h3 style="margin-top: -10%; font-variant: small-caps;" class="pull-left"> {{ designation }}</h3>
            <br>
            <br>
          </div>
        </div>
        <hr>
        <a href="" [routerLink]="['dashboard']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Dashboard</a>
        <hr>
        <a href="" [routerLink]="['employees/view']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Employee Details Management</a>
        <hr>
        <a href="" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Payroll Management</a>
        <hr>
        <a href="" [routerLink]="['announcements/view']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Announcement Management</a>
        <hr>
        <a href="" [routerLink]="['training-programs']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Training Program Management</a>
        <hr>
        <a href="" [routerLink]="['attendanceLeave/quickLeave']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Attendance & Leave Management</a>
        <hr>
        <a href="" [routerLink]="['projects']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Project Management</a>
        <hr>
        <a href="" [routerLink]="['equipments']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Equipment Management</a>
        <hr>
        <a href="" [routerLink]="['vehicles']" style="font-size: 18px; padding-bottom: 0; padding-top: 0;" >Vehicle Management</a>
        <hr>
    </div>
    <div class="col" style="width:fit-content; ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<div class="wrapper" >
  <!-- Sidebar -->
  <nav class="sidenav" id="sidebar" style="overflow-y: scroll;">
      <div class="sidebar-header">
        <img
        src="../../assets/images/admin.png"
        alt="admin icon"
        class="adminLogo text-center"
        style="margin-left: 60px;"
      />
        <div >
          <h3>{{ name }}</h3>
          <h3 style="margin-top: -5%; font-variant: small-caps;" class="pull-left"> {{ designation }}</h3>
          <br>
          <br>
        </div>
      </div>

      <ul class="list-unstyled components">
          <li>
            <a [routerLink]="['']">Home</a>
          </li>
          <li>
            <a [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['payroll']">Your Details</a>
          </li>
          <li>
            <a [routerLink]="['payroll']">Payroll Information</a>
          </li>

          <li>
            <a [routerLink]="['attendanceLeave/quickLeave']">Apply Leave</a>
          </li>
      </ul>

  </nav>
  <!-- Page Content -->

  <div class="col col-lg-7" style="margin-left: 23%;">
    <router-outlet></router-outlet>
  </div>
</div>



