<div class="content" style="overflow-y: scroll; overflow-x: scroll; height: 100vh; width:955px; margin-left: 5%;">
  <div style= "background-size: auto;">

    <div>
      <br><p class="h1" >All Training Programs</p><br>
    </div>

    <div class ="card">
      <div class="card-header">
        <div class="md-form active-pink-2 mb-3 pull-left" style="width:300px; margin-right: 10px;">
          <!--search bar-->
          <input class="form-control" [(ngModel)]="term" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="pull-left">
          <button [routerLink]="['../report']" class="btn btn-success">GENERATE REPORT</button>
        </div>

      </div>
      <div class="card-body">
        <!--table header-->
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Email</th>
              <th scope="col">Location</th>
              <th scope="col">Availability</th>
              <th scope="col" colspan="2" class="text-center">Action</th>

            </tr>
          </thead>
          <!-- <mat-spinner></mat-spinner> -->
          <tbody>

            <tr *ngFor="let trainingProgram of trainingPrograms | filter:term">
              <td>{{ trainingProgram.title}}</td>
              <td>{{ trainingProgram.date}}</td>
              <td>{{ trainingProgram.description}}</td>
              <td>{{ trainingProgram.email}}</td>
              <td>{{ trainingProgram.location}}</td>
              <td>
                <span *ngFor="let ele of trainingProgram.availability.values()">
                  {{ele.label}},
                </span>
              </td>
              <td colspan="2">
                <a [routerLink]="['../edit', trainingProgram.id]" class="btn btn-warning pull-right" style="width:75px; margin-bottom: 8px;">EDIT</a>
                <a class="btn btn-danger pull-right" style="width:75px; margin-bottom: 8px; "(click)="onDelete(trainingProgram.id)">DELETE</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

