<div style="overflow-y: scroll; overflow-x: scroll; height: 100vh; width:1000px; max-width: 1300px;"
  class="container-fluid">
  <div class="container-fluid" style="background-color: #FEFEFE;">
    <br><br><br>
    <div>
      <h2 class="text-center">Create New Training Program</h2>
    </div>
    <br><br><br>
    <div class="container-fluid">
      <form (ngSubmit)="onSubmit()" #trpro="ngForm" style="margin-left: -15%;">
        <div class="form-group row" style="margin-left: 200px;">
          <label for="programTitle" class="col-sm-3 col-form-label pull-right">Program Title</label>
          <div class="col-sm-5" >
            <input class="form-control" type="text" ngModel name="programTitle" #programTitle="ngModel" id="programTitle"
              placeholder="Enter Title" required>
          </div>
          <div class="col-sm-3">
          <span class="help-block" *ngIf="!programTitle.valid && programTitle.touched" style="color: red">Please enter a title.</span>
          </div>
        </div>

        <div class="form-group row" style="margin-left: 200px;">
          <label for="programDate" class="col-sm-3 col-form-label pull-right">Date</label>
          <div class="col-sm-5" >
            <input class="form-control" type="date" ngModel name="programDate" #programDate="ngModel" id="programDate" required>
          </div>
          <div class="col-sm-3">
          <span class="help-block" *ngIf="!programDate.valid && programDate.touched" style="color: red">Please select a date.</span>
          </div>
        </div>

        <div class="form-group row" style="margin-left: 200px;">
          <label for="programDescription" class="col-sm-3 col-form-label pull-right">Program Description</label>
          <div class="col-sm-5">
              <textarea
            id="programDescription"
            rows=4
            class="form-control"
            ngModel
            name="programDescription"
            required
            #programDescription="ngModel"></textarea>
          </div>
          <div class="col-sm-3">
          <span class="help-block" *ngIf="!programDescription.valid && programDescription.touched" style="color: red">Please enter a Description.</span>
          </div>
        </div>

        <div class="form-group row" style="margin-left: 200px;">
          <label for="programLocation" class="col-sm-3 col-form-label pull-right">Program Location</label>
          <div class="col-sm-5">
            <input class="form-control" type="text" ngModel name="programLocation" #programLocation="ngModel" id="programLocation"
              placeholder="Enter Location" required>
          </div>
          <div class="col-sm-3">
          <span class="help-block" *ngIf="!programLocation.valid && programLocation.touched" style="color: red">Please enter a Location.</span>
            </div>
        </div>

        <div class="form-group row" style="margin-left: 200px;">
          <label for="availability" class="col-sm-3 col-form-label pull-right">Availability</label>
          <div class="col-sm-5">
            <ul class="checkbox-items">
              <li *ngFor="let item of checkboxesDataList">
                <input type="checkbox" [(ngModel)]="item.isChecked" name="item.label" (change)="changeSelection()">
                <label style="padding-left: 3px;">{{item.label}}</label>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group row" style="margin-left: 200px;">
          <label for="programEmail" class="col-sm-3 col-form-label pull-right">Trainer Email</label>
          <div class="col-sm-5">
            <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" ngModel name="programEmail" #programEmail="ngModel" id="programEmail"
              placeholder="Enter Email" required>
          </div>
          <div class="col-sm-3">
          <span class="help-block" *ngIf="!programEmail.valid && programEmail.touched" style="color: red">Please enter a valid Email.</span>
            </div>
        </div>

        <div class="text-center pt-4">
          <button type="submit" class="btn btn-success" [disabled]="!trpro.valid">SUBMIT</button>
        </div>
        <br><br><br><br><br>
      </form>
    </div>
  </div>
</div>
