.bgImage{
  background-image: url('../../../assets/images/officeBG3.jpg');
  background-attachment: fixed;
  width: 100%;
  height: auto;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
}
