<div>
    <div class="row content-wrapper">
        <div class="col-md-12 title">
            Project Management
        </div>
        <div class="col-md-12 pt-20">
            <button class="btn btn-sm btn-primary" [routerLink]="['/admin/projects/new']"> New Project</button>
        </div>

        <div class="col-md-12 pt-10">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control form-control-sm" (keyup)="search($event)" [(ngModel)]="keyword"
                        type="text" placeholder="Search Projects">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div class="col-md-12 pt-10 example-container " style="max-height:50vh;overflow-x: auto;overflow-y: auto;">
          
            <div>
                <div class="example-loading-shade" *ngIf="loading">
                  <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                <ng-container matColumnDef="projectId">
                    <th mat-header-cell *matHeaderCellDef> ProjectId </th>
                    <td mat-cell *matCellDef="let element"> {{element?.projectId}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Location </th>
                    <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.startDate | date}} </td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration </th>
                    <td mat-cell *matCellDef="let element"> {{element?.duration}} </td>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef> Client </th>
                    <td mat-cell *matCellDef="let element"  style="max-width: 150px;">
                         {{element?.clientName}} <br>
                         {{element?.clientAddress}} <br>
                         {{element?.clientPhone}}
                        </td>
                </ng-container>

                <ng-container matColumnDef="clientName">
                    <th mat-header-cell *matHeaderCellDef> Client Name </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element?.clientName}}
                 
                     </td>
                </ng-container>

                <ng-container matColumnDef="clientPhone">
                    <th mat-header-cell *matHeaderCellDef> Client Phone </th>
                    <td mat-cell *matCellDef="let element"> {{element?.clientPhone}} </td>
                </ng-container>

                <ng-container matColumnDef="clientAddress">
                    <th mat-header-cell *matHeaderCellDef> Client Address </th>
                    <td mat-cell *matCellDef="let element"> {{element?.clientAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="supervisor">
                    <th mat-header-cell *matHeaderCellDef> Supervisor </th>
                    <td mat-cell *matCellDef="let element"> {{element?.supervisor?.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="consultant">
                    <th mat-header-cell *matHeaderCellDef> Consultant </th>
                    <td mat-cell *matCellDef="let element"> {{element?.consultant?.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="employees">
                    <th mat-header-cell *matHeaderCellDef> Employees Count </th>
                    <td mat-cell *matCellDef="let element"> {{element?.employees.length}} </td>
                </ng-container>

                <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-sm btn-warning" (click)="setUpdate(element);"> Update</button> &nbsp;
                        <button class="btn btn-sm btn-danger" (click)="deleteProject(element);"> Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>


<!-- <ng-template #callAPIDialog>
    <div mat-dialog-content>
        <app-new-project (listComponent)="pushNewProject($event)" (update)="updateProject($event)" [project]="project">
        </app-new-project>
    </div>

</ng-template> -->