<div style="overflow-y: scroll; overflow-x: scroll; height: 100vh; width:fit-content; margin-left: -10%;">
  <div style="background-color: #FEFEFE; background-size: auto;">

    <div style="background-color: #FFFFFF">
      <br><p class="h1" style="text-align:center" >{{ this.title}} Registry</p><br>
    </div>

    <div class ="card">
      <div class="card-header">
        <div class="md-form active-pink-2 mb-3" style="width:300px;">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
      </div>
      <div class="card-body">

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Full Name</th>
              <th scope="col">NIC</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Gender</th>
              <th scope="col">Address</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Email</th>
              <th scope="col">Date of Joining</th>
              <th scope="col">Special Medical illness</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <mat-spinner *ngIf = "isLoading"></mat-spinner>
          <tbody *ngIf = "!isLoading">

            <tr *ngFor="let employee of employees">
              <td>{{ employee.id}}</td>
              <td>{{ employee.fullName}}</td>
              <td>{{ employee.nic}}</td>
              <td>{{ employee.dob}}</td>
              <td>{{ employee.gender}}</td>
              <td>{{ employee.address}}</td>
              <td>{{ employee.cnumber}}</td>
              <td>{{ employee.email}}</td>
              <td>{{ employee.doj}}</td>
              <td>{{ employee.comment}}</td>
              <td>
                <a class="btn btn-warning pull-right" style="width:80px;">EDIT</a>
                <a class="btn btn-danger pull-right" (click)="onDelete(employee.id)">DELETE</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
