<div style="overflow-y: scroll; height: 550px; width: 106rem;"  class ="container-fluid" >
  <body style="background-color: #FEFEFE; background-size: auto">

    <div style="background-color: #007BFF">
      <br><p class="h1" style="text-align:center" >Employees Registry</p><br>
    </div>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">NIC</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email</th>
          <th scope="col">Date of Joining</th>
          <th scope="col">Special Medical illness</th>
        </tr>
      </thead>
    </table>
  </body>
</div>
