<div style="overflow-x: scroll; height: 100vh; width:1000px; max-width: 1300px;">
  <div class="container-fluid">
    <div>
      <h2 class="text-center">Employee Attendance</h2>
    <div>
    <button class="btn btn-primary" type="button" style="margin-bottom: 10px;" [routerLink]="['add-attendance']">ADD ATTENDANCE</button>
    <div class="card">
        <div class="card-header">
          <div class="md-form active-pink-2 mb-3 pull-left" style="width:300px; margin-right: 10px;">
            <!--search-->
            <input class="form-control" [(ngModel)]="search" type="text" placeholder="Search" aria-label="Search">
          </div>
          <div class="pull-left">
            <button [routerLink]="['report']" class="btn btn-success">GENERATE REPORT</button>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr >
                <th scope="col">EMP ID</th>
                <th scope="col">Name</th>
                <th scope="col">NIC</th>
                <th scope="col">Date</th>
                <th scope="col">Designation</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Leave Time</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- "filter" is used to filter data according to the "search" result-->
              <tr *ngFor="let atd of attendanceDetails | filter:search">
                <th scope="row">{{atd.empID}}</th>
                <td>{{atd.fullName}}</td>
                <td>{{atd.nic}}</td>
                <td>{{atd.date}}</td>
                <td>{{atd.designation}}</td>
                <td>{{atd.arriveTime}}</td>
                <td>{{atd.leaveTime}}</td>
                <td>     <!--when user click delete button then call onDelete fun , using DB id-->
                  <a class="btn btn-danger pull-right" (click)="onDelete(atd.id)">DELETE</a>
                  <a [routerLink]="['edit', atd.id]" class="btn btn-warning pull-right" style="margin-right: 10px;">EDIT</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br><br>
    <div>
      <h2 class="text-center">Manage Employee Leaves</h2>
    <div>
    <div class="card-header">
         <div class="md-form active-pink-2 mb-3r" style="width:300px; ">
            <h3 class="text-center" style="color:#A9A9A9;">Requested Leaves</h3>
         </div>
     </div>
    <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">EMP ID</th>
                <th scope="col">Time</th>
                <th scope="col">Leave Start Date</th>
                <th scope="col">Leave End Date</th>
                <th scope="col">Reason</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lleave of longLeaveDetails">
                <th scope="row">{{lleave.empID}}</th>
                <td>{{lleave.time}}</td>
                <td>{{lleave.startDate}}</td>
                <td>{{lleave.endDate}}</td>
                <td>{{lleave.reason}}</td>
                <td [ngStyle]="{color: lleave.status === 'APPROVED' ? 'green' : 'red'}">{{lleave.status}}</td>
              </tr>
              <br>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


</div>
