<div
   style="
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100vh;
    width: 1000px;
    max-width: 1300px;
  "
  class="container-fluid"
>
  <!-- for topic -->
  <div class="container-fluid" style="background-color: #fefefe">
    <div style="background-color: #ffffff">
      <br>
      <p class="h1" style="text-align: center">Add new Vehicle</p>
      <br>
      <hr size="30" />
    </div>
    <div class="container-fluid" style="background-color: #ffffff">
      <p class="h4" style="text-align: center">Vehicle details</p>
      <form #vehiForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="vehicleNumber">Vehicle Number</label>
          <input
            type="text"
            [ngModel]="vehicleDetails?.vehicleNumber"
            name="vehicleNumber"
            #vehicleNumber="ngModel"
            [class.is-invalid]="vehicleNumber.invalid && vehicleNumber.touched"
            class="form-control"
            id="vehicleNumber"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="vehicleNumber.valid || vehicleNumber.untouched"
            >Please enter vehicle registration number</small
          >
        </div>
        <!-- vehicle type -->
        <div class="form-group">
          <label for="empDes">Vehicle type</label>
          <select
            #vehicleType="ngModel"
            name="vehicleType"
            [class.is-invalid]="vehicleType.invalid && vehicleType.touched"
            class="form-control"
            [ngModel]="vehicleDetails?.vehicleType"
            id="vehicleType"
            required
          >
            <option value="choose" disabled>Choose...</option>
            <option value="Car">Car</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="Van">Van</option>
            <option value="Cab">Cab</option>
            <option value="Double Cab">Double Cab</option>
            <option value="Lory">Lory</option>
            <option value="Doser">Doser</option>
            <option value="Bhoom Truck">Bhoom Truck</option>
            <option value="Industrial Vehicle">Industrial Vehicle</option>
          </select>
          <small
            class="text-danger"
            [class.d-none]="vehicleType.valid || vehicleType.untouched"
            >Please select the Vehicle Type</small
          >
        </div>

        <!-- vehicle chase number -->
        <div class="form-group">
          <label for="vehicleChaseNumber">Enter Chase Number</label>
          <input
            type="text"
            [ngModel]="vehicleDetails?.vehicleChaseNumber"
            name="vehicleChaseNumber"
            #vehicleChaseNumber="ngModel"
            [class.is-invalid]="
              vehicleChaseNumber.invalid && vehicleChaseNumber.touched
            "
            class="form-control"
            id="vehicleChaseNumber"
            placeholder="123-456-789"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="
              vehicleChaseNumber.valid || vehicleChaseNumber.untouched
            "
            >Please enter a chase number</small
          >
        </div>

        <!-- engine number -->
        <div class="form-group">
          <label for="vehicleEngineNumber">Enter Engine Number</label>
          <input
            type="text"
            [ngModel]="vehicleDetails?.vehicleEngineNumber"
            name="vehicleEngineNumber"
            #vehicleEngineNumber="ngModel"
            [class.is-invalid]="
              vehicleEngineNumber.invalid && vehicleEngineNumber.touched
            "
            class="form-control"
            id="vehicleEngineNumber"
            placeholder="123-456-789"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="
              vehicleEngineNumber.valid || vehicleEngineNumber.untouched
            "
            >Please enter a engine number</small
          >
        </div>
        <!-- manufacture date  -->
        <div class="form-row">
          <div class="col-md-3 mb-1">
            <label for="dob">Vehicle Manufacture Date</label>
            <input
              type="date"
              [ngModel]="vehicleDetails?.manufactureDate"
              name="manufactureDate"
              #manufactureDate="ngModel"
              [class.is-invalid]="
                manufactureDate.invalid && manufactureDate.touched
              "
              class="form-control"
              id="manufactureDate"
              placeholder="DD/MM/YYYY"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="
                manufactureDate.valid || manufactureDate.untouched
              "
              >Please select a date</small
            >
          </div>

          <!-- vehicle color -->
          <div class="col-md-3 mb-1">
            <label for="vehicleColor">Vehicle Color</label>
            <input
              type="text"
              [ngModel]="vehicleDetails?.vehicleColor"
              name="vehicleColor"
              #vehicleColor="ngModel"
              [class.is-invalid]="vehicleColor.invalid && vehicleColor.touched"
              class="form-control"
              id="vehicleColor"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="vehicleColor.valid || vehicleColor.untouched"
              >Please enter vehicle number</small
            >
          </div>

          <!-- vehicle purchase date  -->
          <div class="col-md-3 mb-1">
            <label for="vehiclePurchaseDate">Vehicle Purchase Date</label>
            <input
              type="date"
              [ngModel]="vehicleDetails?.vehiclePurchaseDate"
              name="vehiclePurchaseDate"
              #vehiclePurchaseDate="ngModel"
              [class.is-invalid]="
                vehiclePurchaseDate.invalid && vehiclePurchaseDate.touched
              "
              class="form-control"
              id="vehiclePurchaseDate"
              placeholder="DD/MM/YYYY"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="
                vehiclePurchaseDate.valid || vehiclePurchaseDate.untouched
              "
              >Please select a date</small
            >
          </div>
        </div>

        <!-- vehicle open mileage -->
        <div class="form-group">
          <label for="vehicleOpenMileage">Enter Vehicle Open Mileage</label>
          <input
            type="text"
            #vehicleOpenMileage="ngModel"
            [ngModel]="vehicleDetails?.vehicleOpenMileage"
            name="vehicleOpenMileage"
            [class.is-invalid]="
              vehicleOpenMileage.invalid && vehicleOpenMileage.touched
            "
            class="form-control"
            id="vehicleOpenMileage"
            placeholder="1234 Km"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="
              vehicleOpenMileage.valid || vehicleOpenMileage.untouched
            "
            >Please enter vehicle open mileage</small
          >
        </div>

        <!-- document details  -->
        <br />
        <p class="h4" style="text-align: center">Documentary Information</p>

        <!-- insurance type -->
        <div class="form-group">
          <label for="insuranceType">Insurance Type</label>
          <select
            #insuranceType="ngModel"
            name="insuranceType"
            [class.is-invalid]="insuranceType.invalid && insuranceType.touched"
            class="form-control"
            [ngModel]="vehicleDetails?.insuranceType"
            id="insuranceType"
            required
          >
            <option value="choose" disabled>Choose...</option>
            <option value="Full option">Full option</option>
            <option value="3rd party">3rd party</option>
          </select>
          <small
            class="text-danger"
            [class.d-none]="insuranceType.valid || insuranceType.untouched"
            >Please select the Insurance Type</small
          >
        </div>

        <!-- vehicle registed district -->
        <div class="form-group">
          <label for="vehicleRegisteredDistrict">Vehicle Registed District</label>
          <select
            #vehicleRegisteredDistrict="ngModel"
            name="vehicleRegisteredDistrict"
            [class.is-invalid]="
            vehicleRegisteredDistrict.invalid && vehicleRegisteredDistrict.touched
            "
            class="form-control"
            [ngModel]="vehicleDetails?.vehicleRegisteredDistrict"
            id="vehicleRegisteredDistrict"
            required
          >
            <option value="choose" disabled>Choose...</option>
            <option value="Jaffna">Jaffna</option>
            <option value="Kilinochchi">Kilinochchi</option>
            <option value="Mannar">Mannar</option>
            <option value="Mullaitivu">Mullaitivu</option>
            <option value="Vavuniya">Vavuniya</option>
            <option value="Puttalam">Puttalam</option>
            <option value="Kurunegala">Kurunegala</option>
            <option value="Gampaha">Gampaha</option>
            <option value="Colombo">Colombo</option>
            <option value="Kalutara">Kalutara</option>
            <option value="Anuradhapura">Anuradhapura</option>
            <option value="Polonnaruwa">Polonnaruwa</option>
            <option value="Matale">Matale</option>
            <option value="Kandy">Kandy</option>
            <option value="Nuwara Eliya">Nuwara Eliya</option>
            <option value="Kegalle">Kegalle</option>
            <option value="Ratnapura">Ratnapura</option>
            <option value="Trincomalee">Trincomalee</option>
            <option value="Batticaloa">Batticaloa</option>
            <option value="Ampara">Ampara</option>
            <option value="Badulla">Badulla</option>
            <option value="Monaragala">Monaragala</option>
            <option value="Hambantota">Hambantota</option>
            <option value="Matara">Matara</option>
            <option value="Galle">Galle</option>
          </select>
          <small
            class="text-danger"
            [class.d-none]="
            vehicleRegisteredDistrict.valid || vehicleRegisteredDistrict.untouched
            "
            >Please select the Vehicle Registerd District</small
          >
        </div>

        <!-- next licence renuewal date  -->
        <div class="form-row">
          <div class="col-md-3 mb-1">
            <label for="nextLicenseRenewalDate"
              >Next Licence Renuewal Date</label
            >
            <input
              type="date"
              #nextLicenseRenewalDate="ngModel"
              [ngModel]="vehicleDetails?.nextLicenseRenewalDate"
              name="nextLicenseRenewalDate"
              [class.is-invalid]="
              nextLicenseRenewalDate.invalid && nextLicenseRenewalDate.touched
              "
              class="form-control"
              id="nextLicenseRenewalDate"
              placeholder="DD/MM/YYYY"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="
              nextLicenseRenewalDate.valid || nextLicenseRenewalDate.untouched
              "
              >Please select a date</small
            >
          </div>
        </div>

        <!-- previous owner details -->
        <br />
        <p class="h4" style="text-align: center">Previous Owner Details</p>

        <!-- previous owner name  -->
        <div class="form-group">
          <label for="vehiclePreviousOwner">Eneter Previous owner name</label>
          <input
            type="text"
            #vehiclePreviousOwner="ngModel"
            [ngModel]="vehicleDetails?.vehiclePreviousOwner"
            name="vehiclePreviousOwner"
            [class.is-invalid]="
            vehiclePreviousOwner.invalid && vehiclePreviousOwner.touched
            "
            class="form-control"
            id="vehiclePreviousOwner"
            placeholder=""
            required
          />
          <small
            class="text-danger"
            [class.d-none]="
              vehicleOpenMileage.valid || vehicleOpenMileage.untouched
            "
            >Please enter previous owner name</small
          >
        </div>

        <!-- previous owner nic -->
        <div class="form-group">
          <label for="NIC">Eneter Previous owner NIC</label>
          <input
            type="text"
            #NIC="ngModel"
            [ngModel]="vehicleDetails?.NIC"
            name="NIC"
            [class.is-invalid] = "nicInvalid && NIC.touched"
            class="form-control"
            id="NIC"
            placeholder="9999999999V"
            (change)="nicValidate(NIC.value)"
            required
          />
          <small class="text-danger" [class.d-none]= " NIC.untouched || !nicInvalid"
            >Please enter previous owner nic</small
          >
        </div>

        <!-- previous owner contact number -->
        <div class="form-group">
          <label for="contactNumber"
            >Eneter Previous owner Contact Number</label
          >
          <input
            type="text"
            #contactNumber="ngModel"
            [ngModel]="vehicleDetails?.contactNumber"
            name="contactNumber"
            [class.is-invalid]="contactNumber.invalid && contactNumber.touched"
            class="form-control"
            id="contactNumber"
            placeholder="000-000 000 0000"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="contactNumber.valid || contactNumber.untouched"
            >Please enter previous owner contact number</small
          >
        </div>

        <!-- previous owner address -->
        <div class="form-group">
          <label for="address">Eneter Previous owner Address</label>
          <input
            type="text"
            #address="ngModel"
            [ngModel]="vehicleDetails?.address"
            name="address"
            [class.is-invalid]="address.invalid && address.touched"
            class="form-control"
            id="address"
            placeholder=""
            required
          />
          <small
            class="text-danger"
            [class.d-none]="address.valid || address.untouched"
            >Please enter previous owner contact number</small
          >
        </div>

        <div class="col-auto my-1" align="center">
          <button
            type="submit"
            [disabled]="!vehiForm.valid"
            class="btn btn-success btn-lg"
          >
            Submit
          </button>
        </div>
        <br /><br /><br /><br /><br /><br />
      </form>
    </div>
  </div>
</div>

