input.ng-invalid.ng-touched{
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

.bgImage{
  background-image: url('../../../../assets/images/announcementBG.jpg');
  background-size: 100%;
}
