<div style="overflow-y: scroll; overflow-x: scroll; height: 100vh; width:1000px; max-width: 1300px;"  class ="container-fluid" >
  <div class="container-fluid">
    <div>
      <p class="h1" style="text-align:center" >Employee Registration Form</p><br>
    </div>
    <div class="container-fluid">
      <p class="h4" style="text-align:center" >Personal Information</p>
      <form (ngSubmit)="onSubmit()" #empreg="ngForm">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" ngModel name="fullName" #fullName="ngModel" [class.is-invalid]= "fullName.invalid && fullName.touched" class="form-control" id="fullName" required>
          <small class="text-danger" [class.d-none]= "fullName.valid || fullName.untouched">Please enter a name</small>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-1">
            <label for="dob">Date of birth</label>
            <input type="date" ngModel name="dob" #dob="ngModel" [class.is-invalid]= "dob.invalid && dob.touched" class="form-control" id="dob" placeholder="DD/MM/YYYY" required>
            <small class="text-danger" [class.d-none]= "dob.valid || dob.untouched">Please select a date</small>
          </div>

          <div class="col-md-3 mb-1">
            <label for="nic">NIC Number</label>
            <input type="text" ngModel name="nic" #nic="ngModel" (blur)="nicValidate(nic.value)" (change)="nicValidate(nic.value)" [class.is-invalid]= "nic.touched && nicInvalid" class="form-control" id="nic" placeholder="123456789V" required>
            <small class="text-danger" [class.d-none]= " nic.untouched || !nicInvalid">Please enter a valid NIC number</small>
          </div>

          <div class="col-md-6 mb-3">
            <p class="font-weight-bold">Gender</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" ngModel type="radio" #gender="ngModel" name="gender" id="male" value="Male" required>
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input ngModel class="form-check-input" type="radio" #gender="ngModel" name="gender" id="female" value="Female" required>
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" #address="ngModel" ngModel name="address" [class.is-invalid]= "address.invalid && address.touched" class="form-control" id="address" placeholder="1234 Main St" required>
          <small class="text-danger" [class.d-none]= "address.valid || address.untouched">Please enter an address</small>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="cnumber">Contact Number</label>
            <input type="text" #cnumber="ngModel" pattern="^\d{10}$" ngModel name="cnumber" [class.is-invalid]= "cnumber.invalid && cnumber.touched" class="form-control" id="cnumber" placeholder="0123456789" required>
            <small class="text-danger" [class.d-none]= "cnumber.valid || cnumber.untouched">Please enter a valid contact number</small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email address</label>
            <input type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel name="email" [class.is-invalid]= "email.invalid && email.touched" email class="form-control" id="email" placeholder="name@example.com" required>
            <small class="text-danger" [class.d-none]= "email.valid || email.untouched">Please enter a valid email address</small>
          </div>
        </div>

        <br>
        <p class="h4" style="text-align:center" >Job Related Information</p>

        <div class="form-group">
          <label for="empDes">Employee Designation</label>
          <select #empDes="ngModel" name="empDes" [class.is-invalid]= "empDes.invalid && empDes.touched" ngModel class="form-control" id="empDes" required>
            <option value="choose" disabled>Choose...</option>
            <option value="manager">Manager</option>
            <option value="engineer">Engineer</option>
            <option value="itoperator">IT Operator (Administrator)</option>
            <option value="accountant">Accountant</option>
            <option value="supervisor">Supervisor</option>
            <option value="labor">Labor</option>
            <option value="driver">Driver</option>
            <option value="cleaningstaff">Cleaning Staff</option>
            <option value="securitystaff">Security Staff</option>
          </select>
          <small class="text-danger" [class.d-none]= "empDes.valid || empDes.untouched">Please select the Employee Designation</small>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-1">
            <label for="doj">Date of Joining</label>
            <input type= "date" #doj="ngModel" ngModel name="doj" [class.is-invalid]= "doj.invalid && doj.touched" class="form-control" id="doj" placeholder="DD/MM/YYYY" required>
            <small class="text-danger" [class.d-none]= "doj.valid || doj.untouched">Please select a date</small>
          </div>
        </div>

        <div class="form-group">
          <label for="comment">If the employee has a special medical illness or other issue, mention it here</label>
          <textarea ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="3" class="form-control"></textarea>
        </div>

        <div class="col-auto my-1" align="center">
        <button type="submit"  [disabled]="!empreg.valid" class="btn btn-success btn-lg ">Submit</button>
        </div>
        <br><br><br><br><br><br>
      </form>
    </div>
  </div>
</div>
