<div style="overflow-y: scroll; height: 550px; width: 106rem;">
  <h1>Announcements Management</h1>
  <div>
    <a href="" class="btn btn-primary pull-left" [routerLink]="['../new']">CREATE</a>
    <button type="button" class="btn btn-primary" style="margin-left: 10px;">GENERATE REPORT</button>
  </div>
  <br>
  <div  style="overflow-y: scroll; height:400px; width: fit-content;">
    <div class="container pull-left" style="background-color: #fffdd0; width: 1000px; height: fit-content;" *ngFor="let announcement of announcements">
      <div class="card">
        <div class="card-header">
          Announcement 01
        </div>
        <div class="card-body">
          <h5 class="card-title">{{announcement.title}}</h5>
          <p class="card-text">{{announcement.content}}</p>
          <p class="card-text">{{announcement.date}} {{announcement.priority}} {{announcement.validity}}</p>
          <a class="btn btn-danger pull-right" (click)="onDelete(announcement.id)">DELETE</a>
          <a href="" class="btn btn-warning pull-right" style="margin-right: 10px;">EDIT</a>
        </div>
      </div>
    </div>
    <!-- <div class="container" style="background-color: #fffdd0; width: 1000px; height: fit-content;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="" class="btn btn-danger pull-right">DELETE</a>
          <a href="" class="btn btn-warning pull-right" style="margin-right: 10px;">EDIT</a>
        </div>
      </div>
    </div> -->

    <!-- <div class="container" style="background-color: #fffdd0ed; width: 1000px; height: fit-content;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="" class="btn btn-danger pull-right">DELETE</a>
          <a href="" class="btn btn-warning pull-right" style="margin-right: 10px;">EDIT</a>
        </div>
      </div>
    </div> -->
    <!-- <div class="container" style="background-color: #fffdd0ed; width: 1000px; height: fit-content;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="" class="btn btn-danger pull-right">DELETE</a>
          <a href="" class="btn btn-warning pull-right" style="margin-right: 10px;">EDIT</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
