<table class="table">
  <caption>
    List of Vehicle
  </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vehicle Number</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">Vehicle Color</th>
      <th scope="col">Next Licence Renewal Date:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
