<div style="width: max-content; margin-left: 10%;">
  <div class="content container-fluid" style="overflow-y: scroll; overflow-x: hidden; height:700px; width: 800px;">
    <br><br>
    <div class="card text-center"
      style="border-color: #6d7fcc; border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 5px #888888;">
      <h1>View applied leaves</h1>
      <div class="card-header">
        ***
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">EMP ID</th>
              <th scope="col" class="text-center">Time</th>
              <th scope="col" class="text-center">Start Date</th>
              <th scope="col" class="text-center">End Date</th>
              <th scope="col" class="text-center">Reason</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" colspan="2" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let longLeave of getlongLeave">
              <td>{{ longLeave.empID }}</td>
              <td>{{longLeave.time}}</td>
              <td>{{longLeave.startDate}}</td>
              <td>{{longLeave.endDate}}</td>
              <td>{{longLeave.reason}}</td>
              <td style="color: grey;">{{longLeave.status}}</td>
              <td>
                <a class="btn btn-success pull-right" (click)="approve(longLeave.id)">APPROVE</a>
              </td>
              <td>
                <a class="btn btn-danger pull-right" style="width: 85px;" (click)="reject(longLeave.id)">REJECT</a>
              </td>

            </tr>

            <tr *ngIf="isNodata" style="color:red;">
              <td colspan="7">No data!.</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        ***
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
</div>

