/* You can add global styles to this file, and also import other style files */

@import 'assets/css/wrapper.css';
@import 'assets/css/button.css';

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* radio button blue */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3f50b5;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color           : #3f50b5;
    background-color: #3f50b5;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26);
}

