<div style="overflow-x: scroll; height: 100vh; width:1000px; max-width: 1300px;">
  <div style="background-color: #2BAF2B">
    <br><p class="h1" style="text-align:center" >Please select the Employee Type</p><br>
  </div>

  <div class="container-fluid" style="background-color: #E0E4FB;">
    <br><br><br><br><br>
    <div class = "container-fluid" >
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <button type="button" class="btn buttonEmpSelect btn-lg">Managers</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Engineers</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">IT Operators</button>
        </div>
      </div>
      <br><br><br><br>
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Accountants</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Supervisors</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Labors</button>
        </div>
      </div>
      <br><br><br><br>
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Drivers</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Cleaning Staff</button>
        </div>
        <div class="col-4">
          <button class="btn buttonEmpSelect btn-lg">Security Staff</button>
        </div>
      </div>
      <br><br><br><br>
      <div class="text-center">
        <button type="button" class="btn btn-success btn-lg" [routerLink]="['../create']">ADD NEW EMPLOYEE</button>
      </div>
      <br><br>
    </div>
  </div>
</div>
