<div class="scrollbarhide" style="overflow-y: scroll; height: fit-content; width:1000px; max-width: 1300px;">
  <h1>Employee Details Management</h1>
  <div>
    <a href="" class="btn btn-primary pull-left" [routerLink]="['../create']">ADD NEW EMPLOYEE</a>
    <button type="button" class="btn btn-primary" style="margin-left: 10px;">GENERATE REPORT</button>
  </div>
  <div>
    <br><br><p class="h4" >Select the Employee Designation to Manage Employee Details</p>
  </div>

  <div class="container-fluid">
    <br>
    <div class = "container-fluid" >
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../manager']">Managers</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../engineer']">Engineers</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../itoperator']">IT Operators</a>
        </div>
      </div>
      <br><br><br><br>
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../accountant']">Accountants</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../supervisor']">Supervisors</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../labor']">Labors</a>
        </div>
      </div>
      <br><br><br><br>
      <div class="row justify-content-around" align="center">
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../driver']">Drivers</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../cleaningstaff']">Cleaning Staff</a>
        </div>
        <div class="col-4">
          <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../securitystaff']">Security Staff</a>
        </div>
      </div>
    </div>
  </div>
</div>
