<div class="scrollbarhide" style="overflow-y: scroll; height: 700px; width:1000px">
  <h1>Employee Details Management</h1>
  <div>
    <a href="" class="btn btn-primary pull-left" [routerLink]="['../create']">ADD NEW EMPLOYEE</a>
    <button type="button" class="btn btn-primary" style="margin-left: 10px;">GENERATE REPORT</button>
  </div>
  <br><br><br>
  <div class="card" style="border-color: #6d7fcc; border-radius: 10px 10px 10px 10px; box-shadow: 0px 0px 5px 5px #888888;">
    <div class="card-header" style="text-align:center">
      <br><p class="h4"> Select the Employee Designation to Manage Employee Details</p>
    </div>

    <div class = "card-body">
      <br>
      <div>
        <div class="row justify-content-around" align="center">
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../manager']">Managers</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../engineer']">Engineers</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../itoperator']">IT Operators</a>
          </div>
        </div>
        <br><br><br><br>
        <div class="row justify-content-around" align="center">
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../accountant']">Accountants</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../supervisor']">Supervisors</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../labor']">Labors</a>
          </div>
        </div>
        <br><br><br><br>
        <div class="row justify-content-around" align="center">
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../driver']">Drivers</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../cleaningstaff']">Cleaning Staff</a>
          </div>
          <div class="col-4">
            <a class="btn buttonEmpSelect btn-lg" [routerLink]="['../securitystaff']">Security Staff</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</div>
