<!-- {{payroll?.employee?.nic }} -->
<h1>Salary History of {{ payroll?.employee?.fullName }}</h1>
<br>

<div class="container">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Search">
  <br>
</div>

<table class="table table-dark">
    <thead>
        <tr>
          <th scope="col">Base Salary(Rs)</th>
          <th scope="col">Maximus Leaves</th>
          <th scope="col">Penalty for leaves(Rs)</th>
          <th scope="col">Pay For OT Hours(Rs)</th>
        </tr>
        <tr>
        <td>{{ payroll.baseSalary }}</td>
        <td>{{ payroll.maxLeaves }}</td>
        <td>{{ payroll.penaltyForLeaves }}</td>
        <td>{{ payroll.payForOTHour }}</td>
        </tr>
      </thead>

</table>

<h1>
    <span><a class="btn btn-sm btn-success" (click)="addSalary(payroll)" >+ Add Salary</a></span>
  </h1>


<table class="table">
    <thead>
        <tr>
          <th scope="col" [appSort]="salaries" data-order="desc" data-name="date" data-type="date">Date</th>
          <th scope="col">Amount of Leaves</th>
          <th scope="col">Penalty for leaves(Rs)</th>
          <th scope="col">OT Hours</th>
          <th scope="col">OT Pay(Rs)</th>
          <th scope="col">Month</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <div>
          <div class="example-loading-shade" *ngIf="loading">
            <div class="spinner-border text-dark" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
      </div>
        <tr *ngFor="let salary of salaries | filter:searchText">
            <td>{{ salary.date | date: 'mediumDate' }}</td>
            <td>{{ salary.amountOfLeaves }}</td>
            <td>{{ salary.penaltyForLeaves }}</td>
            <td>{{ salary.otHours }}</td>
            <td>{{ salary.otPay }}</td>
            <td>{{ salary.month }}</td>
            <td>{{ salary.amount }}</td>
            <td><a class="btn btn-sm btn-danger" (click)="onDelete(salary)">Delete</a></td>
        </tr>
    </tbody>
</table>