<div
  style="
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100vh;
    width: 1000px;
    max-width: 1300px;
  "
  class="container-fluid"
>
  <div class="container-fluid" style="background-color: #fefefe">
    <div style="background-color: #ffffff">
      <br />
      <p class="h1" style="text-align: center">Update Your Password</p>
      <br />
    </div>
    <div class="container-fluid" style="background-color: #ffffff">
      <form (ngSubmit)="onSubmit()" #changePass="ngForm">
        <div class="form-group">
          <label for="nic">NIC Number</label>
          <input
            type="text"
            ngModel
            name="nic"
            #nic="ngModel"
            [class.is-invalid]="nic.invalid && nic.touched"
            class="form-control"
            id="nic"
            placeholder="123456789V"
            required
          />
          <small class="text-danger" [class.d-none]="nic.valid || nic.untouched"
            >Please enter a NIC number</small
          >
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="oldPass">Old Password</label>
            <input
              type="password"
              #oldPass="ngModel"
              ngModel
              name="oldPass"
              class="form-control"
              placeholder="Old Password"
              required
            />
    
          </div>
          <div class="col-md-6 mb-3">
            <label for="newPass">New Password</label>
            <input
              type="password"
              #newPass="ngModel"
              ngModel
              name="newPass"
              newPass
              class="form-control"
              placeholder="New Password"
              required
            />

          </div>
          <div class="col-md-6 mb-3">
            <label for="confPass">Confirm Password</label>
            <input
              type="password"
              #confPass="ngModel"
              ngModel
              name="confPass"
              confPass
              class="form-control"
              placeholder="Confirm Password"
              required
            />

          </div>
          
        </div>

        <div class="col-auto my-1" align="center">
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
